deb <%= @mirror %> <%= node['debian_release'] %> main
deb-src <%= @mirror.sub("-ports", "") %> <%= node['debian_release'] %> main

<% if node['debian_release'] != 'sid' %>
deb <%= @mirror %> <%= node['debian_release'] %>-backports  main
deb-src <%= @mirror %> <%= node['debian_release'] %>-backports  main

deb http://security.debian.org/debian-security <%= node['debian_release'] %>-security main
deb-src http://security.debian.org/debian-security <%= node['debian_release'] %>-security main

deb <%= @mirror %> <%= node['debian_release'] %>-updates main
deb-src <%= @mirror %> <%= node['debian_release'] %>-updates main
<% end %>
